form {
  display: flex;
}
/* #form {
  width: 250px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid red;
} */
input[type="text"] {
  width: 450px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid red;
  box-sizing: border-box;
  border-radius: 35px;
}
input[type="submit"] {
  width: 90px;
  /* padding: 12px 20px; */
  margin: 8px 0;
  border: 1px solid red;
  box-sizing: border-box;
  border-radius: 30px;
}
.weather {
  width: 20rem;
  height: 14rem;
  text-align: center;
  background-color: rgb(2, 75, 134);
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  color: white;
}
